@media (min-width: 375px) {
	.menu {
		.wrapper {
			.container-menu {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media (min-width: 576px) {
	.gallery {
		.right {
			right: 2em;
		}
		.left {
			left: 2em;
		}
	}
}
